.hero-section__container--hawaii{
    background-image: url("/assets/images/hawaii.jpg");
}

.hero-section__container--iceland{
    background-image: url("/assets/images/iceland.jpg");
}

.hero-section__container--greece{
    background-image: url("/assets/images/greece.jpg");
}

.hero-section__container{
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.hero-section__container__title{
    font-size: 3.75rem;
    color: #ffffff;
    padding: 2.5rem;
    text-align: left;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 0 1.75rem 0;
}

.itinerary__container__cards{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.itinerary__container__card__title{
    margin-bottom: 2rem;
    border-bottom: 2px solid #000000;
    padding-bottom: 1rem;
}


.itinerary__container__card__subtitle{
    background-color: #FEFAF5;
    padding: 1rem;
}

.itinerary__container__card__list-items{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
  
.itinerary__container__cards__card{
    background-color: #ffffff;
    Width: 18rem;
    height: 26rem;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 1rem 1rem 1rem;
}
