*{
   font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

.nav-card__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-card__container__left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;
}

.nav-card__container__left__heading{
    color:#335576;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 60px;
}

.nav-card__container__right__items{
    font-size: 1.3em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-right: 2rem;
}

.nav-card__container__right__items img{
width: 31rem;
}

li{
    list-style-type: none; 
}

.nav-card__container__right__items__link{
    text-decoration: none;
    color: 000000;
    padding-bottom: 0.5rem;
}

.nav-card__container__right__items__link:link{
    text-decoration: none;
    color: #00000;
}
.nav-card__container__right__items__link--border{
    border-bottom: 0.3rem solid #DB7A4E;
}

.footer__container{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: #FEFAF5;
}

.footer__container__title{
    font-size: 2rem;
    font-weight: 300;
    color:#335576;
}

.footer__container__subtitle{
    font-size: 0.5rem;
    font-weight: 400;
    color:#DB7A4E;
    text-transform: uppercase;
}

.footer__container__description{
    color:#335576;

}

.footer__container__sub__container--no-flex{ 
    margin-top: 2.7rem;
 } 

.footer__container__sub__container{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.footer__container__sub__container__image img{
    height: 1.5rem;
}

.footer__container__sub__container__image{
    padding-top: 1.5rem;
}


