*{
   font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

.nav-card__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-card__container__left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;
}

.nav-card__container__left__heading{
    color:#335576;
    font-size: 3rem;
    font-weight: 700;
    margin-left: 60px;
}

.nav-card__container__right__items{
    font-size: 1.3em;
    font-weight: 400;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-right: 2rem;
}

.nav-card__container__right__items img{
width: 31rem;
}


.nav-card__container__right__items__link{
    text-decoration: none;
    color: #393939;
}

.nav-card__container__right__items__link--border{
    border-bottom: 0.3rem solid #DB7A4E;
}

