.hero-section__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FEFAF5;
    width: 100vw;
}

.hero-section__container__right{
    width: 30rem;
    padding: 4rem;
}

.hero-section__container__right img{
    width: 25rem;
}

.hero-section__container__left {
    padding: 5rem;
}

.hero-section__container__left__title{
    font-size: 3.25rem;
    font-weight: 300;
    color: #335576;
    padding-bottom: 40px;
    text-align: left;
    text-transform: capitalize;
    font-weight: 600;
}

.hero-section__container__left__company-description{
    font-size: 1.125em;
    font-weight: 400;
    color: #335576;
    word-wrap: break-word;
    padding-bottom: 40px;
    text-align: left;
}

.hero-section__container__left__button{
    background-color:#DB7A4E;
    color: #fff;
    border: none;
    border-radius: 5%;
    font-size: 1.13em;
    font-weight: 400;
    padding: 20px;
    border-radius: 40rem;
    width: 34%;
}

.destinations__container__title{
    color: #335576;
    font-size: 3.5em;
    font-weight: 600;
    text-align: left;
    padding: 5rem;
}

.destinations__container__cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.destinations__container__cards__card{
    Width: 18rem;
    Height: 27rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: 0 4px rgba(0, 0, 0, 0.20);
    position: relative;

}

.destinations__container__cards__card__hawaii{
    background-image: url("/assets/images/hawaii.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.destinations__container__cards__card__iceland{
    background-image: url("/assets/images/iceland.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.destinations__container__cards__card__greece{
    background-image: url("/assets/images/greece.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.destinations__container__cards__card__title{
    color: #fff;
    font-size: 1.8rem;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 2rem;
}
